@import "../../styles/base.scss";

main {
  @extend %main-layout;
}

.hold {
  width: 85%;
}

.heading {
  @extend %display;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;

  h1 {
    margin: 0;
  }
}

.add-btn {
  @extend %display;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: $main-color;
  font-size: 30px;
  color: #fff;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;

  :nth-child(2n-1) {
    background-color: #f5f5f5;
  }
}

li {
  @extend %display;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  // border-bottom: 1px solid $grey;
  padding: 10px;
  margin: 0 0 20px;
}

.task_details {
  @extend %display;
  flex-direction: row;
  // width: 80%;
  span {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.action_btn {
  @extend %display;
  flex-direction: row;
  margin-left: 20px;
}
.icon {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  .hold {
    width: 320px;
  }
}
